{
	"semi": true,
	"trailingComma": "none",
	"singleQuote": true,
	"printWidth": 120,
	"tabWidth": 2,
	"useTabs": true,
	"endOfLine":"auto",
	"jsxSingleQuote": true,
	"arrowParens": "always",
	"jsxBracketSameLine": true
}